Flask==3.0.2
diff-match-patch==20241021
prompt_toolkit>=3.0.0
PyPDF2==3.0.1
python-dotenv==1.0.0
openai>=1.30.5
requests==2.31.0
markdown==3.4.4
click==8.1.7
setuptools==68.2.2
anyio>=4.7.0
weasyprint==65.1
